<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myCams NAV</title>

    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

    <!-- for chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    
    <script src="https://unpkg.com/feather-icons"></script>
  </head>

  <body>
    <div class="d-flex flex-column align-items-center">

      <h1 class="mt-4">myCams Nav Values</h1>
      <h3 class="mt-2">Current units : {{units}}</h3>

      <div class="row mt-2">
        <table class="table table-striped table-hover">
          <thead style="background-color: rgb(0, 255, 255);">
          <tr>
            <td>Date</td>
            <td>Price</td>
            <td>Price Change</td>
          </tr>
          </thead>
          {% for nav in navs %}
          <tr>
            <td>{{nav.date}}</td>
            <td>{{ (nav["nav"]*units)|round(2, 'floor') }}</td>
            <td>
              <span>{{ (nav["change"]*units)|round(2, 'floor') }}
              {%  if nav['change']>=0 %} <i data-feather="arrow-up" class="ms-1" style="color: green;"></i> {%endif%}
              {%  if nav['change']<0 %} <i data-feather="arrow-down" class="ms-1" style="color: red;"></i> {%endif%}
            </span></td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="row mt-2">
        <form action="/change" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">New Unit</label>
            <input
              name="newUnit"
              type="number"
              class="form-control my-1"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <button type="submit" class="btn btn-primary">Change</button>
        </form>
      </div>

      <canvas id="myChart" width="1vw" height="1vw" class="mt-2"></canvas>

    </div>

    <script>
      var nav_dates = {{nav_dates|safe}}
      var nav_prices={{nav_prices|safe}}
      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'line',
      
          // The data for our dataset
          data: {
              labels: nav_dates,
              datasets: [{
                  label: 'NAV Price',
                  backgroundColor: 'rgba(0, 255, 255, 0.3)',
                  borderColor: 'rgb(0, 255, 255)',
                  data: nav_prices
              }]
          },
      
          // Configuration options go here
          options: {}
      });
    </script>

    <script>
      feather.replace();
    </script>

  </body>
</html>
